@model WebDemo.BLL.ExcelServerImp

@{
    ViewBag.Title = "提交成功";
}

<h2>提交数据如下:</h2>

<table class="table">
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Grade</td>
            </tr>
        }
    </tbody>
</table>



