################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ExcelORM/bin/Debug
/ExcelORM/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ExcelORM/obj/Debug
/packages
/WebDemo/bin
/WebDemo/obj/Debug
/WebDemo.Tests/bin/Debug
/WebDemo.Tests/obj/Debug
/WebDemo/WebDemo.csproj.user
